In [1]:
import pymongo
client=pymongo.MongoClient('mongodb://localhost:27017/')
mydb=client['worker']
empinfo=mydb.employeeinformation

In [2]:
record={
    'firstname':'nisha',
    'lastname':'kumari',
    'age':22,
    'designation':'software engineer'
}
empinfo.insert_one(record)

InsertOneResult(ObjectId('67e2b4042521b1b0765abd94'), acknowledged=True)

In [3]:
records=[{
    'firstname':'Rohit',
    'lastname':'Sharma',
    'age':23,
    'designation':'data analyst'
},
    {
    'firstname':'Priya',
    'lastname':'Shah',
    'age':21,
    'designation':'project manager'},
    {
    'firstname':'Vishal',
    'lastname':'Sharma',
    'age':24,
    'designation':'software engineer'}]

empinfo.insert_many(records)

InsertManyResult([ObjectId('67e2b4082521b1b0765abd95'), ObjectId('67e2b4082521b1b0765abd96'), ObjectId('67e2b4082521b1b0765abd97')], acknowledged=True)

In [ ]:
# simple way of query
empinfo.find_one()
# by default first record

{'_id': ObjectId('67e2b4042521b1b0765abd94'),
 'firstname': 'nisha',
 'lastname': 'kumari',
 'age': 22,
 'designation': 'software engineer'}

In [ ]:
empinfo.find()
# select*from emplyinformation

In [7]:
for record in empinfo.find():
    print(record)

{'_id': ObjectId('67e2b4042521b1b0765abd94'), 'firstname': 'nisha', 'lastname': 'kumari', 'age': 22, 'designation': 'software engineer'}
{'_id': ObjectId('67e2b4082521b1b0765abd95'), 'firstname': 'Rohit', 'lastname': 'Sharma', 'age': 23, 'designation': 'data analyst'}
{'_id': ObjectId('67e2b4082521b1b0765abd96'), 'firstname': 'Priya', 'lastname': 'Shah', 'age': 21, 'designation': 'project manager'}
{'_id': ObjectId('67e2b4082521b1b0765abd97'), 'firstname': 'Vishal', 'lastname': 'Sharma', 'age': 24, 'designation': 'software engineer'}

In [8]:
# query json document based on equality conditons i.e seleect * from employeeinfromation where name="nisha"
for record in empinfo.find({'firstname':'nisha'}):
    print(record)

{'_id': ObjectId('67e2b4042521b1b0765abd94'), 'firstname': 'nisha', 'lastname': 'kumari', 'age': 22, 'designation': 'software engineer'}

In [ ]:
# query document using query operation($in,$lt,$gt)
# $in means desgination software engineer ho ya data anaylst wla record print krke do
for record in empinfo.find({'designation':{'$in':['software engineer','data analyst']}}):
        print(record)

{'_id': ObjectId('67e2b4042521b1b0765abd94'), 'firstname': 'nisha', 'lastname': 'kumari', 'age': 22, 'designation': 'software engineer'}
{'_id': ObjectId('67e2b4082521b1b0765abd95'), 'firstname': 'Rohit', 'lastname': 'Sharma', 'age': 23, 'designation': 'data analyst'}
{'_id': ObjectId('67e2b4082521b1b0765abd97'), 'firstname': 'Vishal', 'lastname': 'Sharma', 'age': 24, 'designation': 'software engineer'}

In [ ]:
# and operator
for record in empinfo.find({'designation':'software engineer','age':{'$lt':23}}):
    print(record)

{'_id': ObjectId('67e2b4042521b1b0765abd94'), 'firstname': 'nisha', 'lastname': 'kumari', 'age': 22, 'designation': 'software engineer'}

In [17]:
# or operator
for record in empinfo.find({'$or':[{'firstname':'nisha'},{'lastname':'Sharma'}]}):
    print(record)

{'_id': ObjectId('67e2b4042521b1b0765abd94'), 'firstname': 'nisha', 'lastname': 'kumari', 'age': 22, 'designation': 'software engineer'}
{'_id': ObjectId('67e2b4082521b1b0765abd95'), 'firstname': 'Rohit', 'lastname': 'Sharma', 'age': 23, 'designation': 'data analyst'}
{'_id': ObjectId('67e2b4082521b1b0765abd97'), 'firstname': 'Vishal', 'lastname': 'Sharma', 'age': 24, 'designation': 'software engineer'}

In [18]:
inventory=mydb.inventory

In [19]:
inventory.insert_many([
    {"item": "journal", "qty": 25, "size": { "h": 14, "w": 21, "uom": "cm" }},
    {"item": "notebook", "qty": 50, "size": { "h": 8.5, "w": 11, "uom": "in" }},
    {"item": "paper", "qty": 100, "size": { "h": 10, "w": 13, "uom": "cm" }},
    {"item": "planner", "qty": 75, "size": { "h": 22.85, "w": 30, "uom": "cm" }},
    {"item": "postcard", "qty": 45, "size": { "h": 10, "w": 15.25, "uom": "cm" }}
])

InsertManyResult([ObjectId('67e2b7da2521b1b0765abd98'), ObjectId('67e2b7da2521b1b0765abd99'), ObjectId('67e2b7da2521b1b0765abd9a'), ObjectId('67e2b7da2521b1b0765abd9b'), ObjectId('67e2b7da2521b1b0765abd9c')], acknowledged=True)

In [21]:
for record in inventory.find({'size':{ "h": 14, "w": 21, "uom": "cm" }}):
    print(record)

{'_id': ObjectId('67e2b7da2521b1b0765abd98'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}}