In [ ]:
from pymongo import MongoClient
client = MongoClient()
# creation of object mongoclient
client = MongoClient("mongodb://localhost:27017/")

mydatabase = client["BacheDb"]

collection = mydatabase["studentscores"]
data = [
    {"user": "Krish", "subject": "Database", "score": 80},
    {"user": "Amit", "subject": "JavaScript", "score": 90},
    {"user": "Amit", "subject": "Database", "score": 85},
    {"user": "Krish", "subject": "JavaScript", "score": 75},
    {"user": "Amit", "subject": "Data Science", "score": 60},
    {"user": "Krish", "subject": "Data Science", "score": 95}
]

collection.insert_many(data)

print("Data Inserted Successfully!")

Data Inserted Successfully!

In [ ]:
# avg
# sum
# aggregate functions
# table ko collections bolte h mongodb mei
# insert data krne se phle mongdb compass mei show nhi hoga db ya collections

In [ ]:
# total no of records
# to find total no of subjects AMit and Krishn has taken
agg_result=collection.aggregate([
    {"$group":
     {"_id":"$user",
      "Total Subject":{"$sum":1}}}
])
# column in mongodb compass which cannt be chnged
for i in agg_result:
    print(i)

{'_id': 'Krish', 'Total Subject': 3}
{'_id': 'Amit', 'Total Subject': 3}

In [ ]:
# sum function
agg_result=collection.aggregate(
    [{
        "$group":
        {"_id":"$user",
         "Total Marks":{"$sum":"$score"}}
    }]
)
for i in agg_result:
    print(i)
    # $sum:inbuild function

{'_id': 'Krish', 'Total Marks': 250}
{'_id': 'Amit', 'Total Marks': 235}

In [5]:
# avg score
agg_result=collection.aggregate(
    [{
        "$group":
        {"_id":"$user",
         "Total average":{"$avg":"$score"}}
    }]
)
for i in agg_result:
    print(i)

{'_id': 'Amit', 'Total average': 78.33333333333333}
{'_id': 'Krish', 'Total average': 83.33333333333333}

In [8]:
import datetime
from datetime import datetime

In [9]:
data = [
    {"_id": 1, "item": "abc", "price": 10, "quantity": 2, "date": datetime.utcnow()},
    {"_id": 2, "item": "jkl", "price": 20, "quantity": 1, "date": datetime.utcnow()},
    {"_id": 3, "item": "xyz", "price": 5, "quantity": 5, "date": datetime.utcnow()},
    {"_id": 4, "item": "abc", "price": 10, "quantity": 10, "date": datetime.utcnow()},
    {"_id": 5, "item": "xyz", "price": 5, "quantity": 10, "date": datetime.utcnow()}
]

C:\Users\HP\AppData\Local\Temp\ipykernel_17280\3327056686.py:2: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  {"_id": 1, "item": "abc", "price": 10, "quantity": 2, "date": datetime.utcnow()},
C:\Users\HP\AppData\Local\Temp\ipykernel_17280\3327056686.py:3: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  {"_id": 2, "item": "jkl", "price": 20, "quantity": 1, "date": datetime.utcnow()},
C:\Users\HP\AppData\Local\Temp\ipykernel_17280\3327056686.py:4: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  {"_id": 3, "item": "xyz", "price": 5, "quantity": 5, "date": datetime.utcnow()},
C:\Users\HP\AppData\Local\Temp\ipykernel_17280\3327056686.py:5: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  {"_id": 4, "item": "abc", "price": 10, "quantity": 10, "date": datetime.utcnow()},
C:\Users\HP\AppData\Local\Temp\ipykernel_17280\3327056686.py:6: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  {"_id": 5, "item": "xyz", "price": 5, "quantity": 10, "date": datetime.utcnow()}

In [10]:
data

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2025, 3, 25, 14, 53, 2, 606605)},
 {'_id': 2,
  'item': 'jkl',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2025, 3, 25, 14, 53, 2, 606605)},
 {'_id': 3,
  'item': 'xyz',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2025, 3, 25, 14, 53, 2, 606605)},
 {'_id': 4,
  'item': 'abc',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2025, 3, 25, 14, 53, 2, 606605)},
 {'_id': 5,
  'item': 'xyz',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2025, 3, 25, 14, 53, 2, 606605)}]

In [11]:
mycollections=mydatabase['stores']
mycollections.insert_many(data)

InsertManyResult([1, 2, 3, 4, 5], acknowledged=True)

In [14]:
agg_result=mycollections.aggregate([
    {
        "$group":{
            "_id":"$item",
            "avgAmount":{"$avg":{"$multiply":["$price","$quantity"]}},
            "avgQuantity":{"$avg":"$quantity"}
        }
    }
    
])
for i in agg_result:
    print(i)

{'_id': 'abc', 'avgAmount': 60.0, 'avgQuantity': 6.0}
{'_id': 'jkl', 'avgAmount': 20.0, 'avgQuantity': 1.0}
{'_id': 'xyz', 'avgAmount': 37.5, 'avgQuantity': 7.5}